@{
    ViewBag.Title = "Email Confirmed";
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/StyleError.css" rel="stylesheet" />

<br />
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3  alert alert-success">
            <h4>
                Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-3  col-sm-6">
            <a href="/Account/Login"><img src="~/Images/Confirmed-bro.svg" /></a>
        </div>
    </div>
</div>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
