
@{
    ViewBag.Title = "EmailNotConfirmed";
    Layout = null; 
}
<link href="~/Content/StyleError.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/StyleError.css" rel="stylesheet" />

<br />
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3  alert alert-info">
            <h4>
                Please confirm your email using the link sent to you on email<br />
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-3  col-sm-6">
            <a href="/Account/Login"><img src="~/Images/Confirm.svg" /></a>
        </div>
    </div>
</div>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
