@model ClaimForm.Models.form_base
@{
    ViewBag.Title = "FormSubmitted";
}
<link href="~/Content/StyleError.css" rel="stylesheet" />
<div>
    <div class="col-md-12">
        <div class="Download-text">
            Your claim has been submitted successfully.<br />Click on the button below to download the form
        </div>
    </div>
    <div class="col-md-12">
        <div class="Download-button text-center">
            <i class="glyphicon glyphicon-download"></i>
            @Html.ActionLink("Download", "Download", Model)
        </div>
    </div>

</div>

