@{
    ViewBag.Title = "About";
}
<h1 class="text-center text-danger">InsurEit</h1>
<h3>InsurEit:Cuz it's kinds lit.</h3>

<h4>InsurEit is a Motor Vehicle Loss and Damage Claim Form website</h4>
<div class="text-center"><img src="~/Images/car.svg" width="500"/></div>
