@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    InsurEit<br />
    Bandalore, West<br />
    <abbr title="Phone">P:</abbr>
    9419509302
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@Insureit.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@Insureit.com</a>
</address>